#h1{
  margin-top: 300px;
  animation-name: animate;
  animation-duration: 7s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

body{
  
  animation-name: body;
  animation-delay: 2ms;
  animation-duration: 7s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  
  
  
  
}

@keyframes body{
  
  0%{
    background-color: lime;
  }
  20%{
    background-color: lightcoral;
  }
  40%{
    background-color: brown;
  }
  60%{
    background-color: indigo;
  }
  80%{
    background-color: skyblue;
  }
  100%{
    background-color: beige;
  }
}

@keyframes animate{
  
  0%{
    opacity: 0%;
    background-color: coral;
  }
  100%{
    opacity: 100%;
    background-color: beige;
  }
}